{% extends "base.html" %}
{% block head %}

  <title>WikiTimeline</title>
  
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="static/timeline/src/css/graph.css">
  <link type="text/css" rel="stylesheet" href="static/timeline/src/css/detail.css">
  <link type="text/css" rel="stylesheet" href="static/timeline/src/css/legend.css">
  <link type="text/css" rel="stylesheet" href="static/timeline/src/css/estilo.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="static/rickshaw/vendor/d3.v3.min.js"></script>
  <script src="static/rickshaw/rickshaw.min.js"></script>

{% endblock %}

{% block content %}
  <div id="content_timeline">
    <div id="chart_container">
      <div id="chart"></div>
      <div id="timeline"></div>
      <div id="slider"></div>
    </div>
    <div id="panel1">
      <div id="legend" class="section"></div>
	<div id="panel" class="section">
	<form id="panel" name="events_selector">
	  Geral: <input type="radio" name="evento" value="geral" onClick="switch_events(this.value)"> <br/>
	  Vandalismo: <input type="radio" name="evento" checked="" value="vandalismo" onClick="switch_events(this.value)"> <br/>	
	  Estatutos: <input type="radio" name="evento" value="estatuto" onClick="switch_events(this.value)"> <br/>
	  Construção de artigos: <input type="radio" name="evento" value="construcao" onClick="switch_events(this.value)"> <br/>
	  Comunidade: <input type="radio" name="evento" value="comunidade" onClick="switch_events(this.value)"> <br/>
	</form>
      </div>
    <div id="dynamicdata">
      <div id="legenddyn" class="section">
      </div>
    </div>
      <div id="about" class="section">
	<p>A <a href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:Ptwikis/Linha_do_Tempo">Linha do Tempo</a> é uma visualização que combina os eventos da wikipédia e seus dados. Os eventos estão na página <a href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:Arqueologia/Linha_do_tempo">Wikipédia:Arqueologia/Linha do tempo</a> e foram listados por voluntários com o objetivo de estudar acontecimentos relevantes para a enciclopédia livre. Os dados aqui usados são gerados automaticamente por script e estão disponéveis para <a href="http://tools.wmflabs.org/ptwikis/static/timeline/data/linha_data.tsv">download no formato .tsv</a>.</p>
      </div>
  </div>

<!-- The source code goes here: -->
<script src="static/timeline/src/js/main.js">
</script>

{% endblock %}


